{% extends 'base.html' %} {% block body %}
  
    <h2>VTM Estimator</h2>
    <hr />
      </p>    
    <form action="" method ="POST">
        <label for="tankRadius">
          Tank Radius: <input type="text" name="tankRad" id="tankRadius" placeholder="radius in inches" autofocus required>
        </label>
      <p>  

      <p>
        <label for="tankHeight">
          Tank Height: <input type="text" name="tankHt" id="tankHeight" placeholder="height in inches" required>
        </label>
      </p>  

        <input type="submit" value="Submit">

        <input type="reset" value="Clear">

    </form>


 {% endblock %} 
    
    