

{% extends 'base.html' %}

{% block body %}
  
    <h1> Vertical Tank Maintenance</h1>
    <a href="http://127.0.0.1:5000"> Home </a>
    <a href="http://127.0.0.1:5000/about"> About </a>
     <a href="http://127.0.0.1:5000/estimate"> Estimate </a>
    <hr />
    <h3>VTM Estimator</h3>
    <hr />
</p>    
    <form action="/add_friend" method ="POST">
        <label for="fname">Tank Radius:</label>
        <input type="text" id="fname" name="fname" autofocus required />
        <br />         
        <label for="lname">Tank Height:</label>
        <input type="text" id="lname" name="lname"/>
        <br />         
  
         <input type="submit" id="submit" value="Submit" />  
         <input type="reset" value="Clear" />
    </form>
    <br />
    <br />
  
    <hr />
    <br>
    {% if friends %}
    <h3>My Friends</h3>
    <table>
     <thead>
      <tr>
       <th scope="col">Name</th>
       <th scope="col">Emal Address</th>
      </tr>
     </thead>

     <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.email }}</td>

      </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock %} 
    
    